@media only screen and (max-width : 992px) {
/*
==================
ГЛОБАЛЬНЫЕ СТИЛИ
==================
*/
.row_padding_top {
	padding-top: 50px;
}
.row_padding_bottom {
	padding-bottom: 50px;
}
.header_container {
	padding-top: 20px;
}



/*
==========
ШАПКА
==========
*/

/* Открытие аккардеона при разрешении меньше 992пх */
.toggle_nav {
	display: inline-block;
	position: fixed;
	right: 10px; 
	top: 20px; 
	z-index: 99999;
	font-size: 200%;
	color: #fff;
}
/*Приветсствие*/
.hello {
	height: 700px;
}

/* Раскрытие контейнера навигации на весь экран */
.primary_nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000; 
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

/* Центрирование навигации в контейнере */
.primary_nav ul {
	position: relative; 
	top: 20%;
	color: #fff;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	font-size: 200%;
}
.primary_nav li {
	display: block;
	text-align: center;
	border: 0;
}

/* Класс открывающий навигацию */
.open {
	opacity: .9;
	visibility: visible;
}



/*
==========
О НАС
==========
*/
.about_projects_footer_container {
	padding-left: 2%;
	padding-right: 2%;
}


/*
=========
УСЛУГИ
=========
*/
.services_icons {
	text-align: center;
}
.services_icons span {
	display: inline-block;
	margin-left: 5%;
}
.about_projects_row h3 {
	font-size: 70%;
}

/* Примеры проектов футер */
.about_projects_footer p {
	text-align: center;
	margin-bottom: 25px;
}
.about_projects_footer {
	text-align: center;
}

/* Яблоко */
.impress_img img {
	margin-top: 20px;
}



/*
=========
ПОРТФОЛИО
=========
*/
.port_proj {
	margin-bottom: 0;
}
.port_col {
	padding: 0;
}
.switcher_portpholio ul {
	margin-bottom: 20px;
}
.portpholio_footer_container { 
	padding-bottom: 0;
	overflow: hidden;
}
.portpholio_footer_container .container {
	padding-left: 0;
	padding-right: 0;
}
.portpholio_footer {
	padding-left: 2%;
	padding-right: 2%;
}
.pop_up_window {
	width: 90%;
	padding: 5%;
}


/*
=========
КОМАНДА
=========
*/
.person {
	text-align: left;
}
.person_photo {
	float: none;
	width: 100%;
	height: 300px;
}
.person_info {
	width: 100%;
}
.person_text {
	margin-bottom: 10px;
	text-align: center;
	padding: 0;
}
.name_and_post {
	margin-bottom: 10px;
	float: left;
	border-right: 0;
	border-left: 4px solid #19bd9a;
	padding-left: 4%;
}



/*
=========
КОНТАКТЫ
=========
*/
.contacts_detail {
	width: 100%;
}
.contacts_collums {
	width: 100%;
	float: none;
	padding: 0;
}
.contact_tile {
	margin: 0;
	width: 100%;
	height: 100px;
}
.contact_icon {
	line-height: 100px;
	width: 20%;
	float: left;
	font-size: 40px;
}
.contact_info {
	width: 80%;
	float: left;
}
.contact_info h3 {
	margin-top: 10px;
	margin-bottom: 0;
}
.contact_info p {
	margin-bottom: 10px;
}
.map_wallpaper_text {
	opacity: 1;
}


/*
=========
ФОРМА
=========
*/
.form_container {
	width: 100%;
}
.form_collums {
	float: none;
	width: 100%;
}
.contact_form div {
	padding: 0;
}



/*
=========
КАРТА
=========
*/
.map-wallpaper-text {
	opacity: 1;
}


}


/* Отключение анимации на мобильных устройствах */
@media only screen and (max-width : 768px) {



}
